.allstarredf-wrapper {
    .all-starred-files {
        display: flex;
        flex-direction: column;
        .starred-file-div {
            .starred-file {
                display: grid;
                grid-template-columns: 50px 323px 135px 125px 80px 155px 50px;
                padding: 6px 0;
                cursor: default;
                &-icon {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: 16px;
                    }
                }
                &-name {
                    display: flex;
                    gap: 1rem;
                    &-span {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        span {
                            font-size: 0.72rem;
                        }
                    }
                    &-star {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                            svg {
                                width: 13px;
                            }
                    }
                    
                }
                &-time {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    span {
                        font-size: 0.72rem;
                    }
                }
                &-owner {
                    display: flex;
                    flex-direction: row;
                    gap: 6px;
                    &-icon {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        img {
                            width: 20px;
                            border-radius: 50%;
                        }
                    }
                    &-name {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        span {
                            font-size: 0.72rem;
                        }
                    }
                }
                &-size {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    span {
                        font-size: 0.72rem;
                    }
                }
                &-location {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    color: #6B6C7E;
                    .circular-starred-file-location {
                        cursor: pointer;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        border-radius: 30px;
                        padding: 2px 8px;
                        gap: 5px;
                        text-decoration: none;
                        color: #000;
                        .loc-icon {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            img {
                                width: 13px;
                            }
                        }
                        .loc-span {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            span {
                                font-size: 0.72rem;
                            }
                        }
                        &:hover {
                            background: #d2d2d2;
                        }
                    }
                }
                &-threedots {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: center;
                    padding-right: 6px;
                    .circular-three-dots {
                        cursor: pointer;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        border-radius: 50%;
                        padding: 3px;
                        svg {
                            width: 12px;
                        }
                        &:hover {
                            background: #cacaca;
                        }
                    }
                }
                &:hover {
                    background: #e4e4e4;
                }
            }
        }
    }
}