.recentFile-wrapper {
    display: flex;
    flex-direction: column;
    .recentFile-heading {
        width: max-content;
        padding: 4px 12px;
        span {
            font-size: 1.12rem;
            font-weight: 400;
        }
    }
    .main-recent {
        height: 78vh;
        max-width: 78vh;
        overflow-y: scroll;
        scroll-behavior: smooth;
        .recent-files {
            
        }
    }
}