@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background: #f7f9fcda;
  padding: 0 2rem;
}
.app {
  display: flex;
  flex-direction: row;
  margin: 12px 0;
}
.right-bar {
  padding: 0 35px;
  margin: 0 auto;
  max-width: 1012px;
  width: calc(100% - 240px);
}
.mains {
  background: #fff;
  margin: 12px 0;
  border-radius: 16px;
  padding: 12px;
  overflow: hidden;
}